.content{font-size: 16px;color: #222;line-height: 1.8;}

.leftcon{width: 660px;float: left;}
.leftcon h1{font-size: 34px;font-weight: 700;margin-top: 70px;}
.leftcon .questionnum{font-size: 16px;color: #909090;text-align: center;margin: 10px 0;}
.leftcon .questionimg img{width: 580px;height: 580px;margin-bottom: 20px;}
.leftcon .message{margin :30px 0;}
.leftcon .message img{width: 50px;height: 50px;border-radius:50% ;}
.leftcon .message p{font-size: 14px;color: #909090;}

.leftcon .answertitle{font-size: 18px;font-weight: 700;}
.leftcon .answertitle span{padding-right: 30px;}
.leftcon .answertitle a{color: #DD3915;}
.leftcon .answertitle a:hover{color: #fff;background: #DD3915;}

.leftcon .answercase{font-size: 12px;border-bottom: 1px solid #f5f5f5;padding-bottom: 30px;padding-top: 30px;}
.leftcon .answercase p{font-size: 16px;margin-bottom: 20px;}
.leftcon .answercase .zan{display:inline-block;margin-bottom:10px;font-size: 13px;width: 85px;height: 25px;
background: #FEEBE6;border:1px solid #b34335;color: #b34335;}
.leftcon .answercase .zan a{color: #b34335;text-align: center;padding: 0 13px;}
.leftcon .answercase .pinglun{color: #909090;margin-left: 20px;}
.leftcon .answercase .num{color: #909090;background: #E8E6E3;padding: 0 4px;margin-left: 3px;}
.leftcon .answercase .user{color: #DD3915; cursor: pointer;}
.leftcon .answercase .user:hover{color: #fff;background: #DD3915;}
.leftcon .login{margin-top: 80px;}
.leftcon .login a{color: #DD3915;}
.leftcon .login a:hover{color: #fff;background: #DD3915;}


.rightcon{width: 300px;float: left;}
.rightcon .questioncase{margin-top:30px;width: 280px;padding: 25px 20px;background: #E8E6E3;color: #808080;}
.rightcon .questioncase .tiwen {text-align: center;}
.rightcon .questioncase a{display:inline-block;width: 116px;height: 35px;color: #fff;background: #DD3915;margin: 5px 0;}
.rightcon .chufangwenda .wenda a{display: block;}
