<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>搜索结果 - 美拾</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/searchhint.css"/>
	</head>
	<body>
		<div class="header"><!--------------头部---------------->
			<div class="conwidth">
				<h1 class="fl"><a href="">美<span>拾</span></a></h1>
				<div class="search fl" id="search-box">
					<form action="#" method="get" target="_blank" >
						<input type="text" placeholder="搜索菜谱、食材"
							id="sreach-input" class="search-text fl"/>
						<input type="button" value="搜菜谱" class="search-btn fl"/>
					</form>
				</div>
				<div class="nav fr">
				<ul>
                    <li><a href="index.html">首页</a></li>
                    <li class="menu-class"><a href="menu_class.html">菜谱分类</a>
                        <div class="topbar-menu">
                            <ul class="plain">
                            <li class='topbar-menu-head'>常用主题</li>
                            <li><a href="menu_class.html" >家常菜</a></li>
                            <li><a href="menu_class.html" >快手菜</a></li>
                            <li><a href="menu_class.html" >下饭菜</a></li>
                            <li><a href="menu_class.html" >早餐</a></li>
                            <li><a href="menu_class.html" >减肥</a></li>
                            <li><a href="menu_class.html" >汤羹</a></li>
                            <li><a href="menu_class.html" >烘焙</a></li>
                            <li><a href="menu_class.html" >小吃</a></li>
                            </ul>
                            <ul class="plain">
                            <li class='topbar-menu-head'>常见食材</li>
                            <li><a href="menu_class.html" >猪肉</a></li>
                            <li><a href="menu_class.html" >鸡肉</a></li>
                            <li><a href="menu_class.html" >牛肉</a></li>
                            <li><a href="menu_class.html" >鱼</a></li>
                            <li><a href="menu_class.html" >鸡蛋</a></li>
                            <li><a href="menu_class.html" >土豆</a></li>
                            <li><a href="menu_class.html" >茄子</a></li>
                            <li><a href="menu_class.html" >豆腐</a></li>
                            </ul>
                            <ul class="plain">
                            <li class='topbar-menu-head'>时令食材</li>
                            <li><a href="menu_class.html" >春笋</a></li>
                            <li><a href="menu_class.html" >笋</a></li>
                            <li><a href="menu_class.html" >豌豆</a></li>
                            <li><a href="menu_class.html" >草莓</a></li>
                            <li><a href="menu_class.html" >金桔</a></li>
                            <li><a href="menu_class.html" >菠菜</a></li>
                            <li><a href="menu_class.html" >冬笋</a></li>
                            <li><a href="menu_class.html" >韭菜</a></li>
                            </ul>
                            <div class="span">
                            <span><a href="menu_class.html">查看全部分类</a></span>
                            </div>
                        </div>
                    </li>
                    <li><a href="popular_menu.html">菜单</a></li>
                    <li><a href="">作品动态</a></li>
                </ul>
				<div class="dengluzhuce fr">
					<a href="login.html">登录</a>
					<a href="register%20.html">注册</a>
				</div>
				</div>
			</div>
            <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
                <ul>
                    <li>搜"  "相关用户</li>
                    <li>搜"  "相关菜单</li>
                </ul>
            </div>
        </div>
        <div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->

		<!--==============================================以上头部==========================================================-->

		<div class="conwidth">
			<h1 class="bigtitle">搜索提示</h1>
			<div class="hint">
				<p>亲爱的，你似乎没有输入需要搜索的关键词...<br>来看看大家都在搜索什么： </p>
			</div>
			<div class="hot">
				<h2>当前热门</h2>
				<ul class="now">
					<li><i></i><span>1</span><a href="popular_menu.html">茶叶蛋</a></li>
					<li><i></i><span>2</span><a href="popular_menu.html">冰淇淋</a></li>
					<li><i></i><span>3</span><a href="popular_menu.html">茶叶蛋的做法</a></li>
					<li><i></i><span>4</span><a href="popular_menu.html">蛋糕</a></li>
					<li><i></i><span>5</span><a href="popular_menu.html">蛋挞</a></li>
					<li><i></i><span>6</span><a href="popular_menu.html">绿豆糕</a></li>
					<li><i></i><span>7</span><a href="popular_menu.html">披萨</a></li>
					<li><i></i><span>8</span><a href="popular_menu.html">面包</a></li>
					<li><i></i><span>9</span><a href="popular_menu.html">土豆</a></li>
				</ul>
			</div>
			<div class="hot">
				<h2>全年热门</h2>
				<ul>
					<li><i></i><span>1</span><a href="popular_menu.html">家常菜</a></li><!--i的位置做笔记-->
					<li><i></i><span>2</span><a href="popular_menu.html">早餐	</a></li>
					<li><i></i><span>3</span><a href="popular_menu.html">蛋糕</a></li>
					<li><i></i><span>4</span><a href="popular_menu.html">烘焙</a></li>
					<li><i></i><span>5</span><a href="popular_menu.html">肉类</a></li>
					<li><i></i><span>6</span><a href="popular_menu.html">蔬菜</a></li>
					<li><i></i><span>7</span><a href="popular_menu.html">下饭菜</a></li>
					<li><i></i><span>8</span><a href="popular_menu.html">面包</a></li>
					<li><i></i><span>9</span><a href="popular_menu.html">蛋挞</a></li>
				</ul>
			</div>
		</div>











  	<div class="conwidth footer"><!----------------页脚---------------->
		<ul>
			<li><a href="#">美食生活杂志</a></li>
			<li><a href="#">厨房工作</a></li>
			<li><a href="#">社区指导原则</a></li>
			<li><a href="#">美拾出版的书</a></li>
			<li><a href="#">帮助中心</a></li>
			<li><a href="#">联系我们</a></li>
			<li><a href="#">意见反馈</a></li>
			<li><a href="#">隐私声明</a></li>
		</ul><br />
		<p>Peng Xiaofen production, copy writenot "下厨房" ,for commercial use.</p>
  	</div>





        <script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/main.js"></script>
	</body>
</html>
