<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--针对ie8加的设置-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>组件vue界面</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <span>{{message}}</span>
    <!--组件的用法-->
    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
</div>
<div id="app2">
    <span>{{message}}</span>
</div>
<script>
    //一定要组件函数在前才可以显示
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'peng!',
            component: ['todoItem'],
            groceryList: [
                {id: 0, text: '蔬菜'},
                {id: 1, text: '奶酪'},
                {id: 2, text: '随便其它什么人吃的东西'}
            ]
        },
        mounted() {
            this.message = '被改变的message'
        }
    })
    //可以定义多个
    var vm2 = new Vue({
        el: '#app2',
        data: {
            message: 'HAHAH',
        }
    })

</script>
</body>
</html>

